*{
    text-align: center;
}

.Container{
    background-color: white;
}
.column{
    background-color: azure;
}

.alert{
    bottom: 0%;
    width: 100vw;
    position: fixed;
}

ul{
    list-style:none;
}

#login{
    position: relative;
    top: 5px;
}

.buttonContainer{
    position: relative;
    top: 15%;

}
#btContainer{
    position: relative;
    top: 20%;
    display: flex;
    justify-content: center;
    width: 600px;
}

button{
    margin: 5px;
}