*{
    text-align: center;
}

.Container{
    background-color: white;
}
.column{
    background-color: #ffeaa7;
}

#inButton{
    width: 30vw;
    display: flex;
    justify-content: center;
    height: 20vh;
    border-radius: 10px;
}

#conScreen{
    display: flex;
    justify-content: center;
    align-items: center;
}

.screenContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:412px;
    height: 412px;
    background-color: white;
    border: solid 1px #81ecec;
}
.nav-link{

}

.block{
    width: 80px;
    height: 80px;
    /*background-image: url(resources/grass.jpg);*/
    background-size: 100%;
    background-color: #81ecec;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color:white;
}

.alert{
    bottom: 0%;
    width: 100vw;
    position: fixed;
}

.progress{
    margin-bottom: 10px;
}

ul{
    list-style:none;
}

.container{
    margin-top: 10px;

}

#floor{
    position: relative;
    right: 20px;
    top: 15px;
}

#login{
    position: relative;
    top: 5px;
}

.answerDiv{
    display: block;
    background-color: white;
    border-radius: 5px;
    width: 80px;
    height: 50px;
    position: relative;
    left: 40%;
}

#nextStep{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#answerCon{
    display: flex;
    justify-content: center;
}

button{
    margin-top: 5px;
}

#clickBatge:after{
    background-color: black;
    animation:blink 1s ease-in-out infinite alternate;
}

.card-body{
    width: 30vw;
    position: absolute;
    top: 350px;
    left: 25px;
    border-color: #ffeaa7;
    color: #e17055;
}

#step1answerDiv{
    width: 60px;
}
#step2answerDiv{
    width: 90px;
}
#step3answerDiv{
    width: 70px;
}
#step4answerDiv{
    width: 70px;
}
#step5answerDiv{
    width: 100px;
}
#step6answerDiv{
    width: 45px;
}
#step7answerDiv{
    width: 45px;
}
#step8answerDiv{
    width: 45px;
}