*{
    text-align: center;
}

@font-face {
    font-family: "CookieRun";
    src: url("static/font/CookieRun Regular.ttf") format("truetype");
    font-weight: normal;
}

#loginBt,#myPageBt{
    margin-top: 15px;
}
.nav-link{
    margin-top: 5px;
}

/** {*/
/*    font-family: "CookieRun", serif;*/
/*}*/

.Container{
    background-color: white;
}
.column{
    background-color: #ffeaa7;
}

#inButton{
    width: 30vw;
    display: flex;
    justify-content: center;
    height: 20vh;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 20px;
}

#conScreen{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 0;
}

.screenContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:413px;
    height: 412px;
    background-color: white;
    border: solid 1px #81ecec;
    margin-top: -100px;
    border-radius: 10px;
}
.nav-link{

}
.javaLocation{
    width: 15vw;
}

.block{
    width: 80px;
    height: 80px;
    /*background-image: url(resources/grass.jpg);*/
    background-size: 100%;
    background-color: #81ecec;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color:white;
    border-radius: 10px;
    font-size: 20px;
}

.bg-dark{
    height: 80px;
}
.footerText{
    position: relative;
    left: 30%;
}
#footerIndex{
    height: 80px;
}

.alert{
    bottom: 0%;
    width: 100vw;
    position: fixed;
    z-index: 5;
}

.progress{
    margin-bottom: 10px;
}

ul{
    list-style:none;
}

.container{
    margin-top: 10px;

}

.javaLocation{
    position: relative;
    top:-20%;
}

#floor{
    position: relative;
    right: 20px;
    top: 15px;
    color: white;
    font-size: 20px;
}

#login{
    position: relative;
    top: 5px;
}

.answerDiv{
    display: block;
    background-color: white;
    border-radius: 5px;
    width: 80px;
    height: 50px;
    position: relative;
    margin: -5px 5px 5px 5px;
}
.answerDiv2{
    display: block;
    background-color: white;
    border-radius: 5px;
    width: 80px;
    height: 50px;
    position: relative;
    margin: -5px 5px 5px 5px;
}

.questionDiv2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffeaa7;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    position: relative;
    margin: -5px 5px 5px 5px;
}
.questionDiv3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffeaa7;
    border-radius: 5px;
    width: 80px;
    height: 50px;
    position: relative;
    margin: -5px 5px 5px 5px;
}
.questionDiv4{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffeaa7;
    border-radius: 5px;
    width: 80px;
    height: 50px;
    position: relative;
    margin: -5px 5px 5px 5px;
}

#m14Question2{
    width:60px;

}
#m14Question3{
    width:20px;
}
#m14Question4{
    width:30px;
}
#m21Question4{
    width:70px;
}
#m21Question2{
    width:100px;
}
#m33Question4{
    width:60px;
}
#m33Question2{
    width:50px;
}
#m34Question2{
    width:140px;
}
#m35Question2{
    width:150px;
}
#m36Question4{
    width:100px;
}
#m36Question2{
    width:100px;
}
#m37Question4{
    width:135px;
}
#m37Question2{
    width:125px;
}
#m11Question2{
    width:120px;
}
#m21Question2{
    width:110px;
}
#m23Question4{
    width: 80px;
}
#m24Question4{
    width: 80px;
}
#m25Question4{
    width: 80px;
}
#m38Question2{
    width: 55px;
}
#m38Question4{
    width: 60px;
}
#m39Question2{
    width: 110px;
}
#m40Question4{
    width: 130px;
}
#m41Question2{
    width: 165px;
}
#m41Question4{
    width: 40px;
}
#m43Question2{
    width: 40px;
}


/*문제 칸 크기*/

#inButtonBox{
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: center;
    background-color: #ffeaa7;
}

#nextStep{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 50px;
}

#answerCon{
    display: flex;
    justify-content: center;
}

button{
    /*margin-top: 5px;*/
    margin: 5px;
}

#clickBatge:after{
    background-color: black;
    animation:blink 1s ease-in-out infinite alternate;
}
.java{
    position: relative;
    top: -20%;
}
h1{
    margin-top: 5px;
}

/*.collapse{
    top: 20%;
    left: 2%;
}
.collapse show{
    top: 20%;
    left: 2%;
}*/

.card-body{
    width: 30vw;
    position: absolute;
    /*top: 50%;*/
    margin-top: 20px;
    left: 2%;
    border-color: #ffeaa7;
    color: #e17055;
}

.dropdown-menu{
    max-height: 300px;
    overflow: scroll;
    max-width: 90px;
    min-width: 90px;
}
.dropdown-menu.show{
    max-height: 300px;
    overflow: scroll;
    max-width: 90px;
    min-width: 90px;
}

#what{
    margin-top: 5px;
}

#step1answerDiv{
    width: 60px;
}
#step2answerDiv{
    width: 90px;
}
#step3answerDiv{
    width: 70px;
}
#step4answerDiv{
    width: 70px;
}
#step5answerDiv{
    width: 100px;
}
#step6answerDiv{
    width: 45px;
}
#step7answerDiv{
    width: 45px;
}
#step8answerDiv{
    width: 45px;
}
#step9answerDiv{
    width: 45px;
}
#step11answerDiv{
    width: 45px;
}
#step12answerDiv{
    width: 45px;
}
#step13answerDiv{
    width: 60px;
}
#step14answerDiv{
    width: 60px;
}
#step15answerDiv{
    width: 45px;
}
#step16answerDiv{
    width: 55px;
}
#step17answerDiv{
    width: 45px;
}
#step18answerDiv{
    width: 45px;
}
#step19answerDiv{
    width: 55px;
}
#step20answerDiv{
    width: 55px;
}
#step21answerDiv{
    width: 55px;
}
#step22answerDiv{
    width: 55px;
}
#step23answerDiv{
    width: 45px;
}
#step24answerDiv{
    width: 55px;
}
#step25answerDiv{
    width: 55px;
}
#step26answerDiv{
    width: 55px;
}
#step27answerDiv{
    width: 90px;
}
#step29answerDiv{
    width: 70px;
}
#step30answerDiv{
    width: 90px;
}
#step31answerDiv{
    width:110px;
}
#step32answerDiv{
    width:95px;
}
#step33answerDiv{
    width:50px;
}
#step34answerDiv{
    width:90px;
}
#step35answerDiv{
    width:90px;
}
#step36answerDiv{
    width:55px;
}
#step36answerDiv2{
    width:90px;
}
#step37answerDiv{
    width:55px;
}
#step37answerDiv2{
    width:55px;
}
#step38answerDiv2{
    width:50px;
}
#step39answerDiv{
    width:55px;
}
#step40answerDiv{
    width:50px;
}
#step41answerDiv{
    width:65px;
}